*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: bisque;
}

#header{
    height: 20%;
    width: 100%;
    background-color: aqua;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

#fakeheader{
    height: 20%;
    width: 100%;
    background-color: white;
}


#header1{
    height: 22%;
    width: 100%;
    background-color: rgb(25, 1, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

#header1 u{
    margin-left: 10px;
    color: rgb(82, 138, 243);
}

#header2{
    height: 36%;
    width: 100%;
    background-color: rgb(249, 247, 247);
    display: flex;
    /* justify-content: center; */
    align-items: center;   
    /* justify-content: space-around; */
    font-size: 16px;
}

.text{
    margin-left: 32px;
    color: #4f6a92;
}

#firstext{
    margin-left: 170px;
    color: #627cff;
}

#firstext:hover{
    color: #4f6a92;
}

#secondtext:hover{
    color: #627cff;
}

#thirdtext:hover{
    color: #627cff;
}

#box1{
    border: 1px solid rgb(164, 160, 160);
    margin-left: 450px;
    padding: 8px 18px;
    border-radius: 8%;
    color: #627cff;   
}

#box1:hover{
    border: 1px solid #627cff;   
}

#box2{
    border: 1px solid rgb(164, 160, 160);
    margin-left: 20px;
    padding: 8px 18px;
    border-radius: 8%;
    color: white;
    background-color: #627cff;
}

#box2:hover{
    color: #627cff;
    background-color: white;
    border: 1px solid #627cff;   
}

#box3{
    border: 1px solid rgb(164, 160, 160);
    margin-left: 20px;
    padding: 8px 18px;
    border-radius: 8%;
    color: #627cff;
}

#box3:hover{
    border: 1px solid #627cff;   
}


#header3{
    height: 42%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    margin: 25px;
    color: #4f6a92;
    display: flex;
    font-family: Basis Grotesque Pro, Arial, sans-serif;
    font-weight: 500;
    font-size: .9rem;
    font-weight: bold;
}

.content:hover{
    color: #627cff;
}

#content1{
    margin-left: 70px;
}

#content4{
    margin-right: 140px;
}

#logo{
    height: 100%;
    width: 20%;
    margin-right: 400px;
    margin-left: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#page1{
    height: 80%;
    width: 100%;
    background-color: rgb(249, 247, 247);
    display: flex;
}

#area1{
    height: 100%;
    width: 50%;
    background-color: rgb(249, 247, 247);
}

#heading{
    margin: 50px;
}

#para{
    margin: 50px;
}

#insidearea{
    display: flex;
    margin: 50px;
}

.innertext{
    border: 1px solid blue;
}

#lowhead{
    margin: 50px;
}

#area2{
    height: 100%;
    width: 50%;
    background-color: rgb(249, 247, 247);
    align-items: center;
    justify-content: center;
    display: flex;
}

#image{
    height: 85%;
    width: 75%;
    margin-top: 7%;
    margin-right: 15%;
}

#image img{
    height: 100%;
    width: 100%;
}

#page2{
    height: 80%;
    width: 100%;
    background-color: greenyellow;
}


